[2021-03-03 06:02] pratyushmp opened #1 "Add Login Screen"

[2021-03-03 06:02] pratyushmp opened #2 "Add Sign Up Screen"

[2021-03-03 06:03] pratyushmp opened #3 "Add Google Sign In"

[2021-03-03 06:03] pratyushmp opened #4 "Add Facebook Sign In"

[2021-03-03 10:09] ShrutiJ-01 commented on #1
I would like to work on it!

[2021-03-03 10:10] ShrutiJ-01 commented on #3
I would like to work on this issue

[2021-03-03 10:25] Samdid commented on #2
@pratyushmp please assign it to me under GSSOC21'

[2021-03-03 10:57] pratyushmp commented on #1
@ShrutiJ-01 Sure! The issue will be assigned once the coding period starts.

[2021-03-03 13:20] Manzee1609 commented on #3
I would like to work on this issue
(I have used firebase signin my personal flutter projects)

[2021-03-03 13:21] Manzee1609 commented on #2
I would like to work on this issue
(I have previous experience)

[2021-03-03 13:22] Manzee1609 commented on #4
I would like to work on this issue

[2021-03-03 15:57] pratyushmp commented on #3
Great to see the participation, but the issues will be assigned after the coding period starts!

[2021-03-08 03:03] pratyushmp commented on #2
@Samdid Issue has been assigned to you!

[2021-03-08 03:04] pratyushmp commented on #3
@Manzee1609 issue assigned to you!

[2021-03-08 04:39] msbuddhu commented on #4
I would like to contribute to this issue (_Add Facebook Sign In #4_).
I would use the package **flutter_facebook_auth: ^2.0.2+1** for this.
Thank you.

[2021-03-08 06:35] pratyushmp commented on #4
Sure @msbuddhu !

[2021-03-08 13:04] SapinderSingh commented on #1
I want to work on this issue.

[2021-03-08 19:09] Sahil-kachhap opened #5 "Project Setup Instructions for getting started with their Contribution"
I went through the Readme.md file where you have attached your YouTube video having instructions for the local project setup.

- Can I complete that project Setup Section with Git bash commands . Newcomers will have either of the option to follow among the readme instructions and that video.

- the project setup instructions will include

    1. Cloning the Repo
    2. Creating Remotes to the fork

[2021-03-09 04:40] pratyushmp commented on #5
Sure @Sahil-kachhap. Make a CONTRIBUTING.md file and add the instructions there.

[2021-03-09 04:49] pratyushmp opened #6 "Add Lint Dependency"

[2021-03-09 04:50] pratyushmp opened #7 "Add Home Page"

[2021-03-09 04:58] DevilAJ commented on #7
Can I work on this issue under Gssoc'21.

[2021-03-09 05:05] pratyushmp commented on #7
I am sorry @Neha62-lit  , I can assign this issue to only one participant at a time  based on First Come First Serve basis.

On the brighter side you can look forward to more issues and contribute!

[2021-03-09 05:12] Neha62-lit commented on #6
@pratyushmp I would like to work on this issue as a part of GSSOC''21!

[2021-03-09 09:42] rudranshawasthi commented on #1
I would like to work on it

[2021-03-09 10:49] pratyushmp commented on #1
Sorry @rudranshawasthi. Issue is already assigned. Meanwhile you can look at other unassigned issues to contribute!

[2021-03-09 12:58] pratyushmp commented on #7
The design of the home page is given in the Readme.md . Right now the login and sign up pages are not developed, so you will have to wait for the backend to be set up before you can integrate it in the home page. You can however start the designing part and later integrate the backend. The colors to be used are mentioned in constants.dart file in utils folder.

[2021-03-09 13:02] DevilAJ commented on #7
Ok

[2021-03-09 15:45] rudranshawasthi commented on #1
Sorry I didn't see your message. I have created a pull request you can merge it if you like.

[2021-03-09 18:08] Manzee1609 commented on #3
Waiting for login screen to get implemented

[2021-03-09 18:12] pratyushmp commented on #3
Yup No problems!

[2021-03-09 18:15] pratyushmp commented on #1
@rudranshawasthi Sorry since I had assigned the issue to someone else, I cannot merge your PR. But I appreciate your participation. More issues will be created soon, will be looking forward for your contribution!

[2021-03-10 04:04] #5 closed

[2021-03-10 04:23] Manzee1609 commented on #3
Pls add me to the firebase project :)
email - mansikalaria16@gmail.com

[2021-03-10 04:36] pratyushmp commented on #3
Added!

[2021-03-10 10:29] STARLORD3 commented on #1
@pratyushmp can I work on this?

[2021-03-10 10:30] STARLORD3 commented on #2
@pratyushmp can I work on this?

[2021-03-10 19:25] STARLORD3 commented on #7
@pratyushmp I am very interested can you please assign me some work in this project?

[2021-03-11 04:10] pratyushmp commented on #7
@STARLORD3 appreciate your interest! New issues will be created soon subject to completion of the previous issues. You can surely contribute to those :)

[2021-03-11 04:11] pratyushmp commented on #1
@ShrutiJ-01 Status of login Screen?

[2021-03-11 04:11] pratyushmp commented on #2
@Samdid Status of progress in Sign Up Screen?

[2021-03-11 04:14] ShrutiJ-01 commented on #1
Almost done, will be making a PR soon👍

[2021-03-11 04:18] pratyushmp commented on #1
Cool!

[2021-03-11 06:26] Abhishek-dab opened #10 "Firebase Authentication using Email and Password"
Hey!! I would like to work on adding login and sign-in functionality by using firebase authentication using email and password under gssoc'21. This issue is not yet present here. Thank You.

[2021-03-11 06:30] pratyushmp commented on #10
Sure @Abhishek-dab. But you will have to wait until the Login and Sign Up pages are developed! After that you can start working on it.

[2021-03-11 06:31] pratyushmp commented on #10
Also share your email address so that I can add you in the Firebase Project

[2021-03-11 06:35] Abhishek-dab commented on #10
@pratyushmp Sure I will DM you my Email ID in the discord itself.

[2021-03-11 06:36] pratyushmp commented on #10
No problem! :)

[2021-03-11 10:44] #2 closed

[2021-03-11 14:46] iamsamuelhere opened #13 "Unable to run set up project"
![image](https://user-images.githubusercontent.com/60421298/110804545-4a707c80-82a6-11eb-9ecf-d8462614ef2a.png)

Reason :
- Project does not contain **google-services.json** file which is available during registering app in Firebase

Is the project registered on Firebase?

[2021-03-11 14:58] pratyushmp commented on #13
The project is registered on Firebase, but I have chosen not to upload the google-services.json file since Git Guardian keeps sending mails saying that your API key is exposed.
Link to the google-services.json file is provided in the README.md

[2021-03-11 14:59] #13 closed

[2021-03-11 17:38] #1 closed

[2021-03-11 17:42] pratyushmp commented on #3
@Manzee1609 The Login page is created, you can work on the Google Sign In now.

[2021-03-11 17:43] pratyushmp commented on #4
@msbuddhu The Login Screen is created, you can work on the Facebook login part.

[2021-03-11 18:47] Manzee1609 commented on #3
Okay!! I will create pr by tommorow eve

On Thu, 11 Mar 2021, 11:12 pm Pratyush M, ***@***.***> wrote:

[2021-03-12 06:58] #3 closed

[2021-03-12 12:24] rohats871 opened #16 "The app is not running on iOS devices"
The app is not working on iOS devices which are running on iOS 9 and below plus if you have to test run them you need to make some changes

[2021-03-12 13:29] rohats871 commented on #7
@pratyushmp the pages are not according to the small size iOS
<img width="384" alt="Screenshot 2021-03-12 at 6 58 26 PM" src="https://user-images.githubusercontent.com/68010359/110946490-eeb8f880-8364-11eb-9ec6-9ac73c397505.png">
 devices like the SE, 7 & 8

[2021-03-12 14:12] rohank2502 opened #17 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-13 04:27] infiniteoverflow commented on #16
Hi @rohats871 , thanks for raising this issue. The iOS version has been set to 10 due to the dependency of cloud_firestore in the app. This issue is now fixed.

Meanwhile feel free to raise an issue with the working of the app or any feature you would like to add.

[2021-03-13 04:27] #16 closed

[2021-03-13 04:31] pratyushmp commented on #17
Go ahead @rohank2502 !

[2021-03-13 08:43] msbuddhu commented on #4
Please add me to the firebase project.
email - kaushalshabi@gmail.com

[2021-03-13 10:00] rohats871 opened #18 "Make HomePage responsive for small devices like iPhone"
<img width="384" alt="110946490-eeb8f880-8364-11eb-9ec6-9ac73c397505" src="https://user-images.githubusercontent.com/68010359/111026605-0f3e8c80-8411-11eb-82b9-b817ee29510b.png">

[2021-03-13 10:54] khareyash05 opened #20 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 11:17] pratyushmp commented on #4
Added you to the firebase project!

On Sat, Mar 13, 2021 at 2:13 PM Shabi Kaushal ***@***.***>
wrote:

--
Pratyush

[2021-03-13 11:18] #17 closed

[2021-03-13 11:25] #6 closed

[2021-03-13 13:24] pratyushmp commented on #20
Points 2, 3, 4 are already present in the Contributions.md file, you may add the others.

[2021-03-13 13:34] anotherwebguy commented on #18
Hey can i work on this issue plz assign me this @rohats871

[2021-03-13 13:48] pratyushmp commented on #18
Sure @anotherwebguy  !

[2021-03-13 13:50] anotherwebguy commented on #18
Thanks for assigning me this issue @pratyushmp

[2021-03-13 23:07] #20 closed

[2021-03-14 01:55] msbuddhu commented on #4
Thank you.

[2021-03-15 05:49] pratyushmp commented on #7
@DevilAJ Make a PR of the home page UI, we will later integrate the backend as we progress.

[2021-03-15 05:50] pratyushmp commented on #4
@msbuddhu Status of  Facebook Sign in?

[2021-03-15 05:51] pratyushmp commented on #10
@Abhishek-dab Status of Firebase Authentication?

[2021-03-15 05:53] DevilAJ commented on #7
Ok I will soon make it.

[2021-03-15 06:09] pratyushmp commented on #7
@DevilAJ Try to use this package for bottom navigation bar - "animated_bottom_navigation_bar: ^0.3.1+1"

[2021-03-15 06:10] DevilAJ commented on #7
Thanx
I was facing issues for bottom portion.

[2021-03-15 06:23] Abhishek-dab commented on #10
@pratyushmp  Done with everything just need to make a PR. I will do that before 6 pm.

[2021-03-15 06:25] pratyushmp commented on #10
Cool!

[2021-03-15 06:39] pratyushmp opened #22 "User Details Screen"
Develop the screen as per the UI design given below.

Follow the color schemes defined in the file ```constants.dart.```

On clicking the ```submit``` button just print the input values in the console. Once the design of Firebase Database is decided upon we will update the values there.

![Screenshot (209)](https://user-images.githubusercontent.com/42929557/111112713-a5e08a00-8586-11eb-9227-b3a8d7

[2021-03-15 07:36] D-Ajay-Kumar commented on #22
Can do it

[2021-03-15 09:03] EAsmithaShrree commented on #22
Hey, can you please assign this issue to me? I am a part of GSSOC'21.

[2021-03-15 09:57] pawan2806 commented on #22
Can I work on this under GSSOC21?

[2021-03-15 10:06] nirala96 commented on #22
Sure @D-Ajay-Kumar go for it. @EAsmithaShrree and @pawan2806 new issues for you will be opened soon.

[2021-03-15 10:50] D-Ajay-Kumar commented on #22
Thanks. On it.

[2021-03-15 11:49] D-Ajay-Kumar commented on #22
<img src="https://user-images.githubusercontent.com/56850266/111148776-0df89580-85b2-11eb-8eaf-408aaf7b0f97.jpeg" data-canonical-src="https://user-images.githubusercontent.com/56850266/111148776-0df89580-85b2-11eb-8eaf-408aaf7b0f97.jpeg" width="360" height="650" />

<img src="https://user-images.githubusercontent.com/56850266/111148789-1224b300-85b2-11eb-81ca-41b0fd21e768.jpeg" data-canonical-src=

[2021-03-15 12:27] pratyushmp commented on #22
Use Extended Widget to bring everything in one screen.

[2021-03-15 13:24] D-Ajay-Kumar commented on #22
![WhatsApp Image 2021-03-15 at 6 53 20 PM](https://user-images.githubusercontent.com/56850266/111160134-d1cc3180-85bf-11eb-8d3b-c1bd3ef8c4e1.jpeg)

How's this?

[2021-03-15 13:25] infiniteoverflow commented on #22
Looks great . @pratyushmp  ?

[2021-03-15 13:29] D-Ajay-Kumar commented on #22
Shall I make the hint text a lil lighter? It looks dark considering it's just for hinting what to type.

[2021-03-15 14:17] pratyushmp commented on #22
@D-Ajay-Kumar  Yup! That's a good idea, make the hint text a tad bit lighter and great job with the Loading Screen!

[2021-03-15 14:38] D-Ajay-Kumar commented on #22
Done. Please check the code :)

[2021-03-15 14:41] amanxnanda opened #25 "Replacing deprecated elements"
![image](https://user-images.githubusercontent.com/34944818/111170768-50c66780-85ca-11eb-8cf5-9a96233f7a4a.png)

It's nice to replace deprecated elements like Flatbutton and Raisedbutton. If this gets assigned to me I like to replace them with TextButton and ElevatedButton respectively.

[2021-03-15 14:54] amanxnanda opened #26 "Add Create Goal Page"
Once Fix #7 gets resolved we can start working on creating a goal page

[2021-03-15 15:27] D-Ajay-Kumar commented on #26
I can do it.

[2021-03-15 16:44] amanxnanda commented on #26
@D-Ajay-Kumar bro you've been doing a lot, please let others learn open source as well.

[2021-03-15 16:50] #10 closed

[2021-03-15 16:52] #22 closed

[2021-03-15 16:53] pratyushmp commented on #25
Sure @amanxnanda . You can go ahead!

[2021-03-15 16:55] amanxnanda commented on #25
Thanks.

[2021-03-15 17:03] infiniteoverflow commented on #26
@amanxnanda Kindly don't criticize any participants for showing their interest in working on any issue. And in open source there is nothing like "Doing too much" , if you are interested then you can work on any issue.

@D-Ajay-Kumar Please note if any participants create an issue and is interested in working on that , it will be assigned to them after the PA or mentors review the relevance of the

[2021-03-15 17:07] amanxnanda commented on #26
@infiniteoverflow @D-Ajay-Kumar I apologise, but I saw a lot student not able to get good first issues where they can atleast start.
Again I'm sincerely sorry.

[2021-03-15 17:07] D-Ajay-Kumar commented on #26
Oh, I thought this was opened by one of the maintainers so asked if I could do it. But if the author of the issue is a participant himself/herself then please go ahead and solve it.

[2021-03-15 17:09] D-Ajay-Kumar commented on #26
Btw I'm a beginner too :)

[2021-03-15 17:12] infiniteoverflow commented on #26
@amanxnanda Dont be sorry, it happens for anyone. Even i had been like this when i started with GSSOC 19.

But dont worry @pratyushmp is planning for coming up with more good first issues for anyone to get started with.

And one more thing i would suggest you guys learn as much as you can , and try working on harder issues. This will help you gain more experience.
You don't wanna get stuck solving

[2021-03-15 17:15] infiniteoverflow commented on #26
@pratyushmp Will update soon on his plan of solving this issue. So just wait for some time.

[2021-03-15 17:22] pratyushmp commented on #26
Rightly said @infiniteoverflow . @amanxnanda and @D-Ajay-Kumar really appreciate your participation, there will be a lot of issues that you guys can work on. And there will be some beginner friendly issues too. Even if you don't find issues that are of your level keep going through the code contributed by other participants and keep learning. Because at the end we are all here for learning :)

[2021-03-15 17:29] pratyushmp commented on #26
The issue will be assigned to @amanxnanda since you have created the issue. But you can start working on it only after issue #7 is reviewed and merged.

[2021-03-15 17:30] amanxnanda commented on #26
Thanks for assigning

[2021-03-16 05:04] msbuddhu commented on #4
Under progress. My exams are going on so I am unable to give ample time these days.

[2021-03-16 06:57] #25 closed

[2021-03-16 08:57] Aryamanz29 opened #29 "[Need] Issue and PR template"
Currently, there is no issue and PR template in repo

[2021-03-16 08:58] Aryamanz29 commented on #29
I would like to work on this issue , Please add labels and kindly assign it to me

[2021-03-16 10:39] pratyushmp commented on #29
Sure @Aryamanz29

[2021-03-16 11:12] #29 closed

[2021-03-18 04:17] #18 closed

[2021-03-18 04:21] pratyushmp commented on #4
@msbuddhu  Since you are busy with exams, I am assigning this issue to someone else. Once you are free you can work on newer issues! @Manzee1609 Can you complete this?

[2021-03-18 04:31] Manzee1609 commented on #4
Yupp!!! Sure

On Thu, 18 Mar 2021, 9:51 am Pratyush M, ***@***.***> wrote:

[2021-03-18 04:32] pratyushmp commented on #4
Ok This issue is now assigned to you!

[2021-03-18 05:24] DevilAJ opened #33 "Completing home screen"
@pratyushmp
Front hand of home screen is pretty much done. I want to complete remaining along with backhand.
Please assign this issue to me.

[2021-03-18 05:46] anotherwebguy commented on #4
Well i can work on the Facebook signin since i've worked on it before

[2021-03-18 05:49] Borahb opened #34 "Sign Up , Log in button not working"
The Sign up Button is not working. Also, the code for login button is missing.
Can I Solve it?

#gssoc21

[2021-03-18 09:34] pratyushmp commented on #4
Sorry @anotherwebguy the issue is already assigned to @Manzee1609 .

[2021-03-18 16:59] PrathmeshSadake opened #36 "optimized all images"
I have optimized all images using imgbot and also created a new pull request. As a gssoc21 participant please merge this pull request under GSSOC21 label.

[2021-03-19 05:14] pratyushmp commented on #34
@Borahb Could you include a video of the sign up button not working?

[2021-03-19 05:36] Borahb commented on #34
okay

[2021-03-19 05:38] Borahb commented on #34
https://user-images.githubusercontent.com/49881148/111736158-4a264180-88a3-11eb-92f3-8378c61c99a4.mp

This is the clip.

[2021-03-19 06:19] PrathmeshSadake commented on #36
I have created pull request #35 with changes. Kindly merge it under GSSOC21

[2021-03-20 04:44] pratyushmp commented on #34
Okay @Borahb , Go ahead the issue is assigned to you!

[2021-03-20 04:49] pratyushmp commented on #34
Make sure that after successful login/sign up, you navigate the user to the home screen.

[2021-03-20 08:52] Borahb commented on #34
okay

[2021-03-20 10:45] #36 closed

[2021-03-20 16:33] pratyushmp commented on #4
@Manzee1609 Status?

[2021-03-20 16:35] pratyushmp opened #38 "Add Email Verification for new users using Firebase"

[2021-03-20 17:11] Manzee1609 commented on #4
I was facing some issues while implementing Facebook auth, and on searching
in stackoverflow I found that there are some issues with flutter because of
which google and facebook auth are not able to work in the same
application.
Still I am giving it a last try, will update the final status by tomorrow
evening.

On Sat, 20 Mar 2021, 10:03 pm Pratyush M, ***@***.***> wrote:

[2021-03-20 17:12] aditi1403 opened #40 "Update README.md file"
I have made some minor grammatical edits to the README.md file. Kindly refer PR #39.

[2021-03-20 21:21] SamarpanCoder2002 commented on #38
hello @pratyushmp ..... Can I proceed with that? I also use that in other projects.... I can do it perfetctly.... If I can forward with that, please assign to me here... Thanks @pratyushmp

[2021-03-20 21:30] SamarpanCoder2002 opened #41 "Want to Add Profile Picture"
### Feature request :
I want to add Profile Picture Facility here.... Uploaded Image will store in Firebase Storage..... User can choose image from gallary and set profile image

### Is your feature request related to a problem? Please describe : (optional)
no

### Describe the solution you'd like :
Add Image with considering some fruitful widget..... Image take from gallary and by user's choice i

[2021-03-21 03:12] pratyushmp commented on #38
Sure @SamarpanCoder2002 . You can go ahead!

[2021-03-21 05:16] #34 closed

[2021-03-21 06:01] SamarpanCoder2002 commented on #38
Thanks for assign me..I will make a pull request soon

[2021-03-21 06:03] pratyushmp commented on #40
We can't accept a PR for changing a single word , this is against the norms of Open Source.
Feel free to raise an issue for any bugs or any new feature for the app

[2021-03-21 06:03] #40 closed

[2021-03-21 06:48] SamarpanCoder2002 commented on #38
@pratyushmp  To forward with that, I need to access firebase account related to this project..... Please assign the firebase account with my mail id(make me collaborator in that firebase account)........my gmail: samarpanofficial2021@gmail.com

[2021-03-21 06:48] SamarpanCoder2002 commented on #38
Thank you @pratyushmp

[2021-03-21 07:02] pratyushmp commented on #38
@SamarpanCoder2002 I have added you as a collaborator in the Firebase Project.

[2021-03-21 07:14] SamarpanCoder2002 commented on #38
Thanks a lot for that.....

[2021-03-21 07:33] pratyushmp commented on #38
No probs! :)

[2021-03-21 11:20] SamarpanCoder2002 commented on #4
If she will unable to solve that, Can You assign me to here @pratyushmp ????

[2021-03-21 12:36] Manzee1609 commented on #4
I am sorry that I was not able to implement facebook signin. I tried my best but I could not make it working. I think the issue can br assigned to someone else, as I have exams from tommorow so I will not be able to give time to this.

[2021-03-21 12:46] SamarpanCoder2002 commented on #4
Now Can I proceed with that @pratyushmp ...IF I can please assign me @pratyushmp ???

[2021-03-21 12:54] pratyushmp commented on #4
Sorry @SamarpanCoder2002 . @anotherwebguy had asked me to assign this issue to him earlier so it will be assigned to him.

[2021-03-21 12:54] pratyushmp commented on #4
@anotherwebguy The issue is now assigned to you!

[2021-03-21 13:22] anotherwebguy commented on #4
Yeah sure

[2021-03-21 18:30] pratyushmp opened #43 "Make the Password and Confirm Password field in the Sign Up screen obscured."

[2021-03-21 18:31] D-Ajay-Kumar commented on #43
Can do it

[2021-03-21 18:32] pratyushmp commented on #43
@D-Ajay-Kumar Sure! Go ahead

[2021-03-21 19:05] #38 closed

[2021-03-21 19:06] SamarpanCoder2002 commented on #41
If I can forward please let me know and assign it to me... Thank u @pratyushmp @infiniteoverflow

[2021-03-21 19:09] pratyushmp commented on #41
We are currently finalizing the Firebase database design. As soon as that is over the issue will be assigned and you can start working on it.

[2021-03-21 19:10] SamarpanCoder2002 commented on #41
Ok Waiting for that....thanks for response @pratyushmp

[2021-03-22 06:57] Samdid opened #44 "Adding back button on sign up screen which will take us back to login screen"
### Feature request :
A back button which will take us to the previous screen.

### Describe the solution you'd like :
An user is logging in the app and by mistake click on the "create one" option and navigate to sign up screen, so he needs to get back to the login screen and for that there should be a back button sign up screen.
![Screenshot_1616396293](https://user-images.githubusercontent.com/7

[2021-03-22 06:59] pratyushmp commented on #44
Good idea @Samdid . Add a simple "arrow" icon which takes the user back.

[2021-03-22 07:00] Samdid commented on #44
@pratyushmp Sure

[2021-03-22 08:00] D-Ajay-Kumar commented on #43
This pubspec.lock file got changed on it's own, does this file change automatically according to the Flutter settings on one's computer?

[2021-03-22 09:04] #44 closed

[2021-03-22 09:07] #43 closed

[2021-03-22 17:21] #4 closed

[2021-03-23 14:04] pratyushmp opened #48 "Add the User's registered email from login to Firebase database"

[2021-03-23 16:15] Borahb opened #49 "Adding functionality to the profile button on homepage."
I want to add a profile screen for the users.
#gssoc21

[2021-03-24 04:20] pratyushmp commented on #49
Sure! @Borahb . Could you design a mock UI so that we can have an idea of what you are planning to keep in the profile section

[2021-03-24 05:09] viralvaghela opened #50 "Remove unnecessary code"
main.dart file contains unnecessary
[code]
we can remove that.

[2021-03-24 06:56] Borahb commented on #49
okay

[2021-03-24 07:01] pratyushmp commented on #50
Go ahead @viralvaghela

[2021-03-24 14:34] Borahb commented on #49
This is just a tentative UI, the actual UI will vary. You can mention if any feature can be added.

![scr](https://user-images.githubusercontent.com/49881148/112327350-5d8a4000-8cdb-11eb-9da8-15ac5530a7d9.png)

[2021-03-24 14:42] rohats871 commented on #16
the app is still not working

[2021-03-24 14:50] Borahb opened #52 "Implementation of loading screen"
I want to add a Loading screen while waiting for logging in. @pratyushmp
#gssoc21

[2021-03-24 15:01] Borahb opened #53 "No structuring of files inside lib folder"
There is no folder structure inside lib folder, files are placed in a haphazard way. I want to go for proper structuring of files inside it.
#gssoc21

![Screenshot (463)](https://user-images.githubusercontent.com/49881148/112332609-e2775880-8cdf-11eb-9058-241e0cadf3e9.png)

[2021-03-24 19:57] #50 closed

[2021-03-24 19:58] pratyushmp commented on #53
Go ahead @Borahb

[2021-03-25 07:27] rakshitkamboj opened #55 "Add Show/hide password button"
I want to add a eye icon to the login screen near password form that will allow user to show/hide their password .
As If user by mistake inputs wrong password it becomes very difficult to correct it.
This feature will solve that problem.

I am also a GSSoC'21 participant.

[2021-03-25 07:56] SapinderSingh opened #56 "On Generate Named Routes"
### Feature request :
The app should use On Generate Named routes.

### Is your feature request related to a problem? Please describe : (optional)
Yes. Currently the app is using 'on the fly' routes, which are very difficult to maintain.

### Describe the solution you'd like :
On Generate routes are very easy to maintain as all the routing logic sits in one file only.

### Describe how this featur

[2021-03-25 09:26] pawan2806 commented on #48
Can I work on this under gssco21 @pratyushmp?

[2021-03-25 09:41] pratyushmp commented on #48
Sure @pawan2806 . The issue is assigned to you!

[2021-03-25 09:44] pratyushmp commented on #49
Yeah @Borahb . Looks Good make sure you follow the design and colors used in ```constants.dart``` file.

[2021-03-25 09:45] pratyushmp commented on #55
Good idea @rakshitkamboj . You can start working on it!

[2021-03-25 09:50] rakshitkamboj commented on #55
Thanks @pratyushmp for assigning it to me.
I will do my best.

[2021-03-25 09:54] pawan2806 commented on #48
Can you give me access to the database pawansingh102938@gmail.com .

[2021-03-25 09:56] pratyushmp commented on #48
Done @pawan2806

[2021-03-25 13:30] rakshitkamboj opened #58 "Add Spinner in Login_Screen"
After clicking on loginScreen it takes some time to get response from firebase in the meantime the app didn't perform any activity and it looks stucked. So, To show the progress to the user I would like to add a spinner that will showup untill app screen navigate to next screen.
I will be using modal_progress_hud package for that.

[2021-03-25 14:37] pratyushmp commented on #52
@Borahb Since you are already working on an issue, it would only be fair to let others also have a chance of contributing to the project. Once you are done with an issue you can take up another one :)

[2021-03-25 14:37] #52 closed

[2021-03-25 14:38] pratyushmp commented on #58
Sure @rakshitkamboj . The issue is assigned to you

[2021-03-25 14:39] pratyushmp commented on #56
@SapinderSingh Go ahead!

[2021-03-25 15:31] SapinderSingh commented on #56
@pratyushmp Please add GSSOC label to this issue. Thanks.

[2021-03-25 17:13] #55 closed

[2021-03-25 23:05] pawan2806 commented on #48
Permissions to manage cloud firestore is required @pratyushmp .

[2021-03-26 05:28] pratyushmp commented on #48
@pawan2806 Use Firebase Realtime DB

[2021-03-26 15:10] muthuannamalai12 opened #60 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 16:21] pratyushmp commented on #60
@muthuannamalai12 go ahead!

[2021-03-27 02:11] SapinderSingh opened #61 "adding pubspec.lock file in .gitignore"
The pubspec.lock file vary system to system and is automatically generated, It should not be pushed with every contribution, because of the reason stated above.

I can add this file to pubspec.lock to resolve this issue.

Please assign it to me, under GSSOC 21.

[2021-03-27 06:21] #56 closed

[2021-03-27 12:45] pratyushmp commented on #61
Sure @SapinderSingh

[2021-03-27 13:35] #58 closed

[2021-03-27 13:36] pratyushmp commented on #48
@pawan2806 Status?

[2021-03-28 01:09] SapinderSingh opened #64 "No modal bottom screen coming, when user taps on the floating action button."
### **Describe the bug:**
No bottom modal screen comes, when user taps on the floating action button. The showBottomModalSheet method is linked to the button in code, but there is no modal bottom sheet attached to it.

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to Home Screen
2. Click on the Floating Action Button.
3. See, there is no bottom sheet.

### **Expected behavior:**
A b

[2021-03-28 04:56] #61 closed

[2021-03-28 04:59] pratyushmp commented on #26
@amanxnanda Status of goal page? It's been 12 since the issue has been assigned to you.

[2021-03-28 05:25] #60 closed

[2021-03-28 17:37] pratyushmp commented on #64
@SapinderSingh I am assigning you issue #26 (Create Goal Page), its the screen which needs to be rendered after clicking the floating action button.

[2021-03-28 17:39] pratyushmp commented on #26
@D-Ajay-Kumar Would you like to take up this issue?

[2021-03-28 17:44] pratyushmp commented on #64
@SapinderSingh Refer to issue #26 .

[2021-03-28 17:44] #64 closed

[2021-03-28 23:20] SapinderSingh commented on #26
@pratyushmp I would like to work on this issue.

[2021-03-29 04:50] #53 closed

[2021-03-29 05:05] pratyushmp commented on #26
@D-Ajay-Kumar had earlier asked me to assign this issue to him, if he doesn't respond by today or tomorrow the issue will be assigned to you @SapinderSingh !

[2021-03-29 05:09] SapinderSingh commented on #26
@pratyushmp No Problem :)

[2021-03-29 09:51] #48 closed

[2021-03-29 09:54] pratyushmp opened #68 "Navigate First Time users to user_details_screen.dart and store the details in firebase"

[2021-03-29 11:14] pawan2806 commented on #68
Hi can you assign it to me under gssoc21?

[2021-03-29 11:18] pawan2806 opened #69 "Migrate the app to Null Safety"
### Feature request :
I want to migrate the app to null safety.

### Is your feature request related to a problem? Please describe : (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like :
[.](https://dart.dev/null-safety/migration-guide)

### Describe alternatives you've considered :
A clear and concise description of any alternative solutions or

[2021-03-29 12:12] pratyushmp commented on #68
Go ahead @pawan2806 !

[2021-03-29 12:14] pratyushmp commented on #68
@pawan2806 the user_details_screen.dart file is already made you just need to navigate and store all the details entered in it in firebase. Also the email field in user_details_screen.dart should be automatically filled based on the email id given during login.

[2021-03-29 12:16] pratyushmp commented on #49
@Borahb Status of the profile page?

[2021-03-29 12:33] Borahb commented on #49
It's ready. By tomorrow I will send the PR

[2021-03-29 15:59] D-Ajay-Kumar commented on #26
Is there a screenshot of the screen to be made?

[2021-03-29 16:01] pratyushmp commented on #26
@D-Ajay-Kumar It is the 4th screen in the UI design given in ```Readme.md```

[2021-04-01 17:16] DOOMSTERR opened #71 "Adding some sections and Modifying the Readme.md file"
## Request ✨
Hello sir, I want to modify the readme.md file.

## Detailed Description

### Modifying it by adding

1.)Adding shield batches in different colors for(at center-top):
-> issues-open
-> pull_request-open
-> total no. of forks
-> total no. of stars

2.) Sections
->Feature Section.
->Sneak and Peek (changing the name of UI Design, and styling it).
->Tech Stack Section.
->Contributing gui

[2021-04-01 17:25] pratyushmp commented on #71
Go ahead @DOOMSTERR .

[2021-04-02 04:02] Yash9479 commented on #69
I am GSSOC'21 participant. I want to contribute to this issue. Please assign this issue to me.

[2021-04-02 05:49] #49 closed

[2021-04-02 05:50] pratyushmp commented on #26
@D-Ajay-Kumar Status?

[2021-04-02 05:51] pratyushmp commented on #68
@pawan2806 Status?

[2021-04-02 06:19] Borahb opened #72 "Fetching user details to profile page."
I want to make the profile page working as it is just  UI now so that details of the user are shown on the profile page with the ability to edit the details.

#gssoc21 participant

[2021-04-03 13:19] pratyushmp commented on #72
@Borahb you can start working on this issue only after issue #68 is completed!

[2021-04-03 13:25] pawan2806 commented on #68
sorry for the delay, got caught in exams. Will make PR soon

[2021-04-04 20:42] pawan2806 commented on #68
@pratyushmp what should I use to check if user is first time user or not? Shared pref ?

[2021-04-05 03:21] pratyushmp commented on #68
@pawan2806 Use HiveDB, it would be faster.

[2021-04-06 11:22] #71 closed

[2021-04-06 11:23] pratyushmp commented on #26
@SapinderSingh You can start working on this issue

[2021-04-08 13:36] Borahb commented on #72
@pratyushmp  When will issue #68  get completed, so that I can start working on this issue?

[2021-04-08 13:45] pratyushmp commented on #68
@pawan2806 progress?

[2021-04-15 10:18] #26 closed

[2021-04-15 14:21] SapinderSingh opened #75 "App Settings Screen"
### Feature request :
There should be an app settings screen.

### Is your feature request related to a problem? Please describe : (optional)
On the profile page, there is app settings tile, which doesn't do anything.

### Describe the solution you'd like :
I would like to add a settings screen, so user can go to that screen, by clicking on the tile.

### Additional context :
Please provide me a s

[2021-04-19 09:12] Borahb commented on #68
@pratyushmp   Can I work on this issue?

[2021-04-19 09:15] pratyushmp commented on #68
@Borahb Issue is assigned to you

[2021-04-20 17:56] Ronak8602 opened #76 "App Icons for Android and Flutter"
I am a GSSOC21 Participant.
After running the application I saw there is no App icon for both Android and IOS.
Can I create one matching to the UI and update the project with a better app Icon
@pratyushmp

[2021-04-20 19:03] pratyushmp commented on #76
Sure @Ronak8602

[2021-04-20 19:04] pratyushmp commented on #75
@SapinderSingh You can start working on this!

[2021-04-21 02:34] SapinderSingh commented on #75
Please provide me a screenshot for the settings screen.

[2021-04-21 05:13] #76 closed

[2021-04-22 17:51] Ronak8602 opened #78 "Login through Mobile and OTP verification"
### Feature request :
Hey @pratyushmp Can we have a feature allowing users to login via Mobile Number and going through OTP  verification.
This could be a more fast process to allow users to login an less hectic

### Describe the solution you'd like :
I would like to add a feature to Allow users to login via mobile number

I am a GSSOC 21 participant

<hr/>

[2021-04-23 14:44] pratyushmp commented on #78
@Ronak8602 Good idea. How are you planning to implement it?

[2021-04-23 17:12] Ronak8602 commented on #78
I can implement this idea using Phone Authentication feature of firebase.
This would make the process easy, on pressing 'login with phone' It would take to another named route where user will enter phone number and verify OTP received on respective number. On successful verification user gets logged in else a snackbar with login failed message.
@pratyushmp

[2021-04-23 17:14] Ronak8602 commented on #78
If you liked it than please add me as a collaborator on Firebase Project
Email - ronakprajapati107@gmail.com

[2021-04-24 04:50] pratyushmp commented on #78
@rohank2502  Cool you can go ahead with this. The issue is assigned to you. You will be added as a collaborator shortly!

[2021-04-24 05:11] rohank2502 commented on #78
you tagged the wrong person haha its ok @Ronak8602 This is for you only

[2021-04-24 05:13] pratyushmp commented on #78
oops XD

[2021-04-25 06:24] Borahb commented on #68
@pratyushmp  have a look at this. The data is saved on cloud firestore. Is it Okay?

https://user-images.githubusercontent.com/49881148/115983104-e509ee00-a5bc-11eb-9614-ff462d1ce344.mp4

[2021-04-25 06:48] pratyushmp commented on #68
Looks good @Borahb . Just Make sure that the email entered in Sign Up page is auto filled in user details screen, so that the user does not enter the email again.

[2021-04-25 06:57] Borahb commented on #68
@pratyushmp  for the email in user details page, I have added autofill using hints. It will suggest the email, user just have to select the email. Will it work.

[2021-04-25 07:21] pratyushmp commented on #68
It is kinda redundant actually, I would suggest just fill it from the previous screen. If you need any help in implementing that, just let me know.

[2021-04-25 14:26] Borahb commented on #68
@pratyushmp  I am facing issue regarding filling the email. So like should the email remain still in that section , not able to edit  or the user should be able to edit it.

[2021-04-26 06:14] Borahb commented on #68
![Screenshot_1619414834](https://user-images.githubusercontent.com/49881148/116033018-4219a880-a67e-11eb-97e6-67794f6abe17.png)

[2021-04-26 06:34] pratyushmp commented on #68
Yup perfect

[2021-04-26 06:34] pratyushmp commented on #68
make a PR

[2021-04-29 10:55] #68 closed

[2021-04-29 10:55] #75 closed

[2021-04-29 11:00] Borahb commented on #72
@pratyushmp   Can I start working  on this issue ?

[2021-04-29 11:27] pratyushmp commented on #72
Yess you can start now.

[2021-05-02 03:05] SapinderSingh opened #82 "Bottom Navigation Bar behavior."
### **Describe the bug:**
The bottom navigation bar should darken the selected icon and lighten the unselected. But, the icons' colors are fixed, it should change, when selects the other icon as in the mockups of the app.

### **Expected behavior:**
The icons' colors should change, when selected.

### **Screenshots:**
![1](https://user-images.githubusercontent.com/29424616/116800705-4253f100-ab21-

[2021-05-02 03:14] #72 closed

[2021-05-02 03:16] pratyushmp commented on #82
@SapinderSingh you can go ahead!

[2021-05-02 03:46] believeInJha commented on #69
Hey @pawan2806 Can I work on this issue, I'm a Gssoc'21 participant too.

[2021-05-05 06:39] Alifbhanvadiya14 commented on #82
is this issue assigned?

[2021-05-05 06:43] SapinderSingh commented on #82
@Alifbhanvadiya14 Yes

[2021-05-09 05:04] #82 closed

[2021-05-10 03:34] SapinderSingh opened #85 "[] was called on null, error in profile screen."
### **Describe the bug:**
There is an error coming, The method '[]' was called on null.
Receiver: null
Tried calling: []("name")

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to profile screen
2. See error

### **Expected behavior:**
The error should not come.

### **Screenshots:**
![signal-2021-05-10-090034](https://user-images.githubusercontent.com/29424616/117602613-bf5d1700-b16

[2021-05-11 12:26] SapinderSingh opened #87 "Taking input of the title from the user."
### Feature request :
Currently, the app don't have any way to get the title input from the user.

### Is your feature request related to a problem? Please describe : (optional)
Yes.

### Describe the solution you'd like :
I will add a text field to get input of title from the user.

### Additional context :
Add any other context or screenshots about the feature request here.

<hr/>

**Note:**
* P

[2021-05-11 12:43] #85 closed

[2021-05-14 01:30] anotherwebguy opened #88 "Adding side drawer"
I would like to create an side drawer for the app plz assign me this issue under gssoc

![Screenshot_2021-05-14-06-58-32-488_com clovercoders canteen_app](https://user-images.githubusercontent.com/66346161/118207282-f6d70680-b481-11eb-8311-71f1e3e4fa2d.jpg)
 Here's and example of the ui of how would the side drawer look

[2021-05-16 11:17] #87 closed

[2021-06-20 18:36] srikharshashi commented on #88
I ain't in GSSOC but can I take on this?

[2021-06-21 18:30] pratyushmp commented on #88
@srikharshashi  Sure! The issue is assigned to you.

[2021-06-21 19:14] srikharshashi commented on #88
Do you mind connecting on discord or any other platform? Becuase I see multiple things broken in here including Facebook SignIn and google sign in. I also dont kind of understand the routing in this app.

[2021-06-23 05:58] pratyushmp commented on #88
Sure! Discord username:- pratyush_mp#5092

[2021-06-24 19:11] srikharshashi commented on #88
Hey @pratyushmp I have made a pull request (#90 ) was made by me to add a drawer .

[2021-07-25 15:08] ayushvrma commented on #69
Hey can you grant me this issue?

[2021-08-17 13:29] JohnAzedo opened #91 "Create a database diagram"
### Feature request :
Contributors need a database diagram to knows names of collections and docs structures.

### Describe the solution you'd like :
We can use  [diagram.net](https://app.diagrams.net/) to draw, save in Google Drive and share link.

### Describe how this feature will be useful to our readers :
This can useful to contributors, as it is necessary to access documents on Firestore.

*

[2021-10-03 09:08] infiniteoverflow opened #93 "Migrate existing codebase to null safety"
I would like to migrate the entire codebase to null safety.

[2021-10-03 10:02] #93 closed

[2021-10-25 07:20] Priyanshu078 opened #98 "Provided a wrong value in primarySwatch in main.dart file"
### **Describe the bug:**
In primarySwatch we have to give the value MaterialColor() but in place of that Color is given.

### **Expected behavior:**
We have to give the MaterialColor(value, {}swatch ) as the value in primarySwatch.

### **Screenshots:**
![image](https://user-images.githubusercontent.com/66347715/138651601-5c07f3b7-475d-4a63-846e-54ddf8eb76ae.png)

[2021-10-27 09:32] Priyanshu078 opened #100 "Module was compiled with an incompatible version of Kotlin error"
### **Describe the bug:**
There is a Kotlin version error in the project.
Module was compiled with an incompatible version of Kotlin,
The binary version of its metadata is 1.5.1, expected version is 1.1.15.

### **To Reproduce:**
Steps to reproduce the behavior:
flutter run --no-sound-null-safety

### **Expected behavior:**
It should run the app properly but it is showing an error.
Module was comp

[2021-10-28 10:33] #98 closed, assigned to Priyanshu078

[2021-10-29 17:56] Priyanshu078 opened #102 "Wrong Provider used in the wrong place"
### **Describe the bug:**
Wrong Provider Used in the wrong place

### **To Reproduce:**
Steps to reproduce the behavior:
Just run the app

### **Expected behavior:**
It should open the login or the home screen

### **Screenshots:*
![providererror](https://user-images.githubusercontent.com/66347715/139480732-52122ff7-5c86-4c14-a9f7-a70992b2d957.jpg)

[2021-10-30 04:25] pratyushmp commented on #102
@Priyanshu078 You can solve this issue, it is now assigned to you!

[2021-10-30 04:26] #100 closed

[2022-05-17 19:38] thisiskhan commented on #78
Is there anyone working on this issue?

[2022-06-15 05:42] shubhamp269 commented on #41
Can i take up this issue ?

[2022-10-01 02:04] rajat-ventura commented on #41
Hi can you please assign this issue to me, if it is available?

[2022-10-01 04:57] pratyushmp commented on #41
Yes you can take it up.

[2022-10-01 05:03] rajat-ventura commented on #41
Alright
Can you please assign the level and hacktoberfest label to this issue and make me the assignee?

[2022-10-04 20:25] pratyushmp commented on #41
Require changes have been made. You can proceed now